<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MovieApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink='search'>SEARCH</a></li>
            <li><a routerLink='favourite'>FAVOURITES</a></li>
        </ul>
    </div>
    <!--<app-movie-search></app-movie-search>
    <app-favourite></app-favourite>-->
   
</nav>
<body>
 <router-outlet></router-outlet>
</body>